# Gradle files
.gradle/
build/

# Local configuration files
local.properties

# Android Studio files
.cxx/
.externalNativeBuild/
captures/

# IntelliJ / Android Studio
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# OS files
.DS_Store
*.log

# APK and outputs
*.apk
output.json

# Keystore files
*.jks
*.keystore

# Google Services config
google-services.json

# Android profiling files
*.hprof
